## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Cansancao,BR,65.86,broken clouds,-10.6672,-39.4992,MIGUEL
1,1,Shimoda,JP,79.16,broken clouds,34.6667,138.9500,Shimoda Tokyu Hotel
2,3,Jamestown,US,83.79,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,5,Puerto Ayora,EC,68.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,7,Faanui,PF,78.04,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(33.31,75.76), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Kishtwar"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Kishtwar"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Srivardhan"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Puttur"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Bhanvad"] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
253,494,Kishtwar,IN,67.59,light rain,33.3167,75.7667,Heritage Bagh by Himalayan Musk

In [6]:
import numpy as np

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
vacation_start[["Lat", "Lng"]]
asTuple=[]
start = vacation_start[["Lat", "Lng"]].to_numpy()
for i in start:
    for u in i:
        asTuple.append(u)

In [8]:
# start location 
loc1 = vacation_start[["Lat", "Lng"]].to_numpy()
start =[]
for i in loc1:
    for u in i:
        start.append(u)
        
# End location
end = start

# stop 1 location
loc3 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1 =[]
for i in loc3:
    for u in i:
        stop1.append(u)
        
# stop 2 location 
loc4 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2 =[]
for i in loc4:
    for u in i:
        stop2.append(u)
        
# stop 3 location 
loc5 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3=[]
for i in loc5:
    for u in i:
        stop3.append(u)

In [9]:
import gmaps.datasets

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

print(start)
print(stop1)
fig = gmaps.figure()
starttoend = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(starttoend)
fig

[33.3167, 75.7667]
[18.0333, 73.0167]

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,494,Kishtwar,IN,67.59,light rain,33.3167,75.7667,Heritage Bagh by Himalayan Musk
1,494,Kishtwar,IN,67.59,light rain,33.3167,75.7667,Heritage Bagh by Himalayan Musk
2,495,Srivardhan,IN,78.89,overcast clouds,18.0333,73.0167,Savli Resort/Hotel - Shrivardhan
3,515,Puttur,IN,75.31,overcast clouds,12.7667,75.2167,Hotel Super Tower
4,488,Bhanvad,IN,79.00,overcast clouds,21.9264,69.7736,Mahalaxmi farshan

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(33.31,75.76), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))